$margin: 0.8rem;

prompts-login {
    display: flex;
    flex-direction: column;
    padding: 0.2rem $margin $margin $margin;

    >* {
        margin: 0.1rem 0rem 0rem 0rem;
    }

    >:last-child {
        margin: $margin 0rem 0rem 0rem;
    }
}